<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pinball High Score - Add Score</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <%- include('navigator') -%>
        <% if (typeof ok !== 'undefined') { %>
            <div class="alert alert-success"><%= ok %></div>
        <% } %>
           <hr>
           <form method="post">
            <div>
                <div class="input-group flex-nowrap">
                    <input type="number" class="form-control" placeholder="100.000.000" aria-label="Score" aria-describedby="addon-wrapping" id="score" name="score">
                    <span class="input-group-text" id="addon-wrapping">Score</span>
                </div>
            </div>
            <br>
            <div>
                <input type="submit" class="btn btn-outline-primary" value="Submit"/>
            </div>
           </form>
    </body>
</html>